<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
	<meta charset="UTF-8">
	<title>detail</title>
	<!-- jquery cdn -->
	<script src="https://code.jquery.com/jquery-3.6.3.min.js"></script>
</head>
<body>
	<table>
		<tr>
			<th>id</th>
			<th th:text="${board.id}"></th>
		</tr>
		<tr>
			<th>title</th>
			<th th:text="${board.boardTitle}"></th>
		</tr>
		<tr>
			<th>writer</th>
			<th th:text="${board.boardWriter}"></th>
		</tr>
		<tr>
			<th>date</th>
			<th th:text="*{#temporals.format(board.boardCreatedTime, 'yyyy-MM-dd HH:mm:ss')}"></th>
		</tr>
		<tr>
			<th>hits</th>
			<th th:text="${board.boardHits}"></th>
		</tr>
		<tr>
			<th>contents</th>
			<th th:text="${board.boardContents}"></th>
		</tr>
		<tr th:if="${board.fileAttached == 1}">
			<th>image</th>
			<!-- 실제로 upload라는 경로가 있는 것 아니고 WebConfig에서 설정해줬다 -->
			<td th:each="fileName : ${board.storedFileName}">
				<img th:src="@{|/upload/${fileName}|}" alt="">
			</td>
		</tr>
	</table>
	<button onclick="listReq()">목록</button>
	<button onclick="updateReq()">수정</button>
	<button onclick="deleteReq()">삭제</button>

	<!-- html 태그 작성할 때 이어서 뾰족괄호와 큰 따옴표 없이
	     "태그이름"#"id"를 적고 탭 키 누르면 ex. div#comment-write
	    <div id="comment-write"></div> 가 자동완성된다. -->
	<!-- 댓글 작성 부분 -->
<div id="comment-write">
	<input type="text" id="commentWriter" placeholder="작성자">
	<input type="text" id="commentContents" placeholder="내용">
	<button id="comment-write-btn" onclick="commentWrite()">댓글작성</button>
</div>

	<!-- 댓글 출력 부분 -->
<div id="comment-list">
	<!-- 댓글 목록 요청에 성공하면 script에서 output 변수에 담겨, innerHTML을 통해 여기 놓이게 된다. -->
	<!-- 아래 태그는 댓글 목록이 채워질 틀로, output에 적은 html 구조와 같아야 에러가 없다. -->
	<table>
		<tr>
			<th>댓글번호</th>
			<th>작성자</th>
			<th>내용</th>
			<th>작성시간</th>
		</tr>
		<tr th:each="comment : ${commentList}">
			<td th:text="${comment.id}"></td>
			<td th:text="${comment.commentWriter}"></td>
			<td th:text="${comment.commentContents}"></td>
			<td th:text="${comment.commentCreatedTime}"></td>
		</tr>
	</table>
</div>

</body>
<!-- th:inline 적어줘야 모델에 담아온 데이터를 자바스크립트에서 활용 가능하다!
     렌더링 결과가 문자타입일 경우 알아서 따옴표를 추가해서 편리함! -->
<script th:inline="javascript">
	const listReq = () => {
		console.log("목록 요청");
		const page = [[${page}]];
		location.href = "/board/paging?page="+page;
	}
	const updateReq = () => {
		console.log("수정 요청");
		const id = [[${board.id}]];
		location.href="/board/update/" + id;
	}
	const deleteReq = () => {
		console.log("삭제 요청");
		const id = [[${board.id}]];
		const title = [[${board.boardTitle}]];
		let confirmation = confirm("진짜 \'" + title + "\' 글을 삭제하시겠습니까?");
		// 사용자가 '네'를 클릭했을 경우
		if (confirmation) {
			location.href="/board/delete/" + id;
		} else {
			// 아무 동작도 수행하지 않으면 해당 글번호의 상세페이지에 그대로 머무르게 됨.
		}
	}

	const commentWrite = () => {
		const writer = document.getElementById("commentWriter").value;
		const contents = document.getElementById("commentContents").value;
		console.log("작성자 : ", writer);
		console.log("내용 : ", contents);
		const id = [[${board.id}]];  // 게시글 번호; 이걸 쓰려면 th:inline="javascript" 있어야!
		$.ajax({
			// 요청방식: post, 요청주소: comment/save, 요청데이터: 작성자, 작성내용, 게시글번호
			type: "post",
			url: "/comment/save",
			data: {
				"commentWriter": writer,
				"commentContents" : contents,
				"boardId" : id
			},
			success: function(res) {
				console.log("요청 성공", res);
				// 계속 데이터가 추가되니 반드시 let으로 선언해야 한다.
				let output = "<table>";
				output += "<tr><th>댓글번호</th>";
				output += "<th>작성자</th>";
				output += "<th>내용</th>";
				output += "<th>작성시간</th></tr>";
				for (let i in res) {
					output += "<tr>";
					output += "<td>" + res[i].id + "</td>";
					output += "<td>" + res[i].commentWriter + "</td>";
					output += "<td>" + res[i].commentContents + "</td>";
					const formattedTime = formatTime(res[i].commentCreatedTime);
					output += "<td>" + formattedTime + "</td>";
					output += "</tr>";
				}
				output += "</table>";
				// 일종의 덮어쓰기
				document.getElementById('comment-list').innerHTML = output;
				// 작성 및 출력이 끝나면, input 태그인 두 상자를 원상태로 비우겠다는 의미.
				document.getElementById('commentWriter').value = '';
				document.getElementById('commentContents').value = '';
			},
			error: function(err) {
				console.log("요청 실패", err);
			}
		});

		// 시간 데이터 형식을 변환하는 함수
		// 매번 출력 때마다 변환하면 코드 낭비가 심하니,
		// db에 저장할 때부터 형식을 바꿔두는 편이 낫겠다. 이런 방식도 있다고 참고하기.
		function formatTime(time) {
			const date = new Date(time);
			const year = date.getFullYear();
			const month = String(date.getMonth() + 1).padStart(2, '0');
			const day = String(date.getDate()).padStart(2, '0');
			const hours = String(date.getHours()).padStart(2, '0');
			const minutes = String(date.getMinutes()).padStart(2, '0');
			const seconds = String(date.getSeconds()).padStart(2, '0');

			// ${} : 문자열 안에 변수나 표현식을 삽입하는 템플릿 리터럴
			// 백틱(`)을 사용해 템플릿 리터럴을 사용할 수 있다. 작은 따옴표와의 혼동 주의!!
			return `${year}-${month}-${day} ${hours}:${minutes}:${seconds}`;
		}
	}
</script>
</html>